*{margin:0; padding:0; box-sizing: border-box;}
body{
    background-image: linear-gradient(to right, #b980fa, #3f48cc);
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

form{
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to left, #b980fa, #3f48cc);
    box-shadow: 5px 5px 10px #1b1464;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}



a img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
}

.password{
    
    position: relative;
    width: 200px;
    height: 30px;
    margin-left: 10px;
}

input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}